<form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <div style="display:grid" *ngIf="id">
        <h3>Eidt post</h3>
        <label>Text:</label>
        <textarea formControlName="text"></textarea>
        <input type="file" (change)="onFileSelected($event)" style="margin-top:20px">
        <div>
            <input style="margin-right:10px; margin-top:20px" type="checkbox" name="isPinned" formControlName="isPinned">Is pinned
        </div>
        <button class="btn btn-primary" style="width:65px; margin-top:20px" type="submit">Save</button>
    </div>
</form>